{:paths   ["src" "resources"]

 :deps    {org.clojure/clojure          {:mvn/version "1.12.0-alpha4"}
           com.fulcrologic/fulcro       {:mvn/version "3.6.10"}
           aero/aero                    {:mvn/version "1.1.6"}
           amalloy/ring-gzip-middleware {:mvn/version "0.1.4"}
           clj-http/clj-http            {:mvn/version "3.12.3"}
           metosin/muuntaja             {:mvn/version "0.6.8"}
           metosin/reitit               {:mvn/version "0.6.0"}
           metosin/ring-http-response   {:mvn/version "0.9.3"}
           org.slf4j/slf4j-nop          {:mvn/version "2.0.7"}
           ring/ring                    {:mvn/version "1.11.0-alpha1"}}

 :aliases {:build {:deps        {io.github.clojure/tools.build {:git/tag "v0.9.5" :git/sha "24f2894"}}
                   :ns-default  build}
           
           :dev {:extra-deps  {org.clojure/clojurescript {:mvn/version "1.11.121"}
                               thheller/shadow-cljs      {:mvn/version "2.25.8"}
                               binaryage/devtools        {:mvn/version "1.0.7"}
                               cider/cider-nrepl         {:mvn/version "0.38.1"}}}}}
